@using HW19.Domain.ToDoAgg.Dtos
@model List<ToDoInfoDto>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h1>لیست کارها</h1>

<div>
    <table>
            <tr>
                <th>ردیف</th>
                <th>عنوان</th>
                <th>توضیحات</th>
                <th>تاریخ سررسید</th>
                <th> وضعیت</th>
                <th></th>
            </tr>
        @foreach (var toDoInfoDto in Model)
            {
               <tr>
                 <td>@toDoInfoDto.Id</td>
                 <td>@toDoInfoDto.Title</td>
                 <td>@toDoInfoDto.Description</td>
                 <td>@toDoInfoDto.DueDate</td>
                 <td>@toDoInfoDto.Status</td>
                 <td>
                    <form method="post" asp-action="Delete" asp-route-categoryId=@toDoInfoDto.Id onsubmit="return confirm('آیا از حذف این کار مطمئن هستید؟');">
                        
                        <button type="submit"  >حذف</button>
                     </form>
                   
                 </td>
              </tr>
            }
            <a asp-controller="User" asp-action="Add" >افزودن کار </a>
           
            
     </table>

</div>
